.footer-on-top {
  bottom: 0 !important;
  position: fixed !important;
  box-shadow: 0 0 20px -4px rgba(0, 0, 0, 0.4);
  z-index: 8;
}
.footer-rest__list { display: block }
.footer-security img {max-height: 40px}

@media screen and (min-width: 640px) {
  .footer-security img {max-height: 56px}
}
